:root {
  /* Color styles */
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  /* Text styles */
  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;

  /* Text-size styles */
  --header-1: 56px;
  --header-2: 36px;
  --header-3: 20px;
  --body: 16px;
  --body--medium: 16px;
  --button--text: 16px;
  --small--text: 12px;
  --link--text: 12px;
}

body {
  font-family: var(--font-family);
  color: var(--slate);
  background-color: var(--white);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

a {
  text-decoration: none;
  color: inherit;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

button {
  cursor: pointer;
}

.hero-btn {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 16px 32px;

  display: block;
  margin: 0 auto;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  background: var(--iris);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--ocean);
}

.logo {
  margin-right: 76px;

  display: inline-flex;
  align-items: center;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: var(--second-family);
}

.logo-dark {
  color: var(--navy-blue);
}

.logo-light {
  color: var(--cloud);
}

.accent {
  color: var(--iris);
}

.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.section {
  padding: 120px 0;
}

.section-title {
  max-width: 218px;
  margin: 0 auto 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--navy-blue);
}

/* Social style */

.social-media {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--iris);

  width: 40px;
  height: 40px;
}

.icon {
  color: #f4f4fd;
}
